@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
   font-family: 'Outfit', sans-serif;
   background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h4,p,a,h3{
  color:#fff;
  text-decoration: white;
}

.btn{
  padding: 12px 32px;
  margin: 0 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color:cadetblue;
  color: black;
  border:1px solid black;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background-color: transparent;
  color: #000;

}

.btn-small{
padding: 6px 10px;
margin: 10px 10px;
font-size: 1.5rem;
background-color: cadetblue;
color: rgb(255, 252, 252);
border: 1px solid rgb(24, 23, 23);
font-weight: 300;
cursor: pointer;
display: inline-block;
border-radius: 1.5rem;
}

.btn:hover{
  background-color: rgb(247, 242, 242);
  color: #000;
  transition:0.3s;
}

/* a:hover{
  cursor: pointer;
  text-decoration: underline;
  color: cadetblue;
} */
